<% form_for(@choice) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "choice_form", :object => f, :locals => {:source => @source} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
